*{
    margin: 0px;
    padding: 0px;
}
.container{
    max-width: 80%;
    background-color: rgb(198,152, 241);
    padding: 34px;
    margin: auto;
}
.container h3,h2,p
{
   text-align: center;
}

.input
{
    display: block;
    border-radius: 6px;
    width: 80%;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    color: brown;
}
.bj{
    width: 100px;
    position: absolute;
    z-index: -1;
}
